<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <form method="post">
        <div>
            <label for ="email">이메일</label>
            <input type="email">
        </div>
        <div>
            <label for ="email">비밀번호</label>
            <input type="password">
        </div>
        <button type="submit">로그인</button>
    </form>
  </body>
</html>