<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
        <form action="/auth/login" method="post">
            <div>
                <label for ="email">이메일</label>
                <input type="email">
            </div>
            <div>
                <label for ="password">비밀번호</label>
                <input type="password">
            </div>
            <button type="submit" class="btn">로그인</button>
            <a href="/auth/kakao" class="btn">카카오톡</a>
            <a href="/join" class="btn">회원가입</a>
        </form>
    </div>
  </body>
  <footer>
    Made by
    <a href="https://github.com/soyeom">Soyeon</a>
  </footer>
  {% block content %}
  {% endblock %}
</html>